html {
	font-size: 14px;
}

.inside {
	background-image: url("images/JimHenson.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
}

.MainHead {
	margin-top: 0.714rem;
	padding-left: 1.428rem;
	font-size: 3.714rem;
	display: inline-block;
	background-color: rgba(0, 0, 0, .4);
	color: azure;
}

.border {
	border: 0.357rem solid green;
	position: relative;
}

#CenterBorder {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 270px;
	height: 55px;
    margin: 0 auto;
    border: 2px solid black;
}

#CenterBox {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	justify-content: center;
	display: flex;
	flex-direction: column;
	background-color: rgb(211,211,211, 0.8)
}

#CenterBox a {
	text-align: center;
	margin: 0;
	padding: 0;
	color: brown;
	font-size: 1.5rem;
}

#CenterBox a:visited{
	color: beige;
}

#CenterBox a:hover {
	font-size: 1.2rem;
}

.footerBorder {
	border: 0.357rem solid lightblue;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	text-align: center;
	box-sizing: border-box;
	height: 7rem;
}

.secondFootBorder {
	width: 100%;
	height: 100%;
	margin: 0 auto;
	text-align: center;
	border: 0.714rem ridge lightgray;
	background-color: red;
	box-sizing: border-box;
	font-size: 1.93rem;
	color: beige;
	display: flex;
	justify-content: center;
	align-items: center;
}

form {
	width: 500px;
	background-color: rgba(255, 255, 255, 0.85);
	border: 4px solid azure;
	margin: 0 45px;
	align-items: column;
}

form label {
	font-size: 1.5rem;
	text-decoration: underline !important;
}

form input:required {
	border: 3px solid red;
}

.imported:hover {
	font-size: 1.7rem;
}

#ccFormGroup input {
	width: 3rem;
}

.emailBar input {
	width: 220px;
	box-sizing: border-box;
	border: 3px solid red;
}

.formGroupTwo {
	display: flex;
	gap: 1rem;
}

.formGroupRed select, .formGroupRed input {
	border: 3px solid red;
	border-color: red;
}

.buttons button{
	width: 100px;
	height: 30px;
	margin-bottom: 20px;
	margin-left: 15px;
	border-radius: 5px;
	border: 2px solid black;
	background-color: #f5f5f5;
	font-size: 0.9rem;
}

.formGroupRed, .formGroupTwo, #ccFormGroup, .formGroup{
	margin-bottom: 20px;
}
