<!DOCTYPE html>
<html>
<head>
    <title>Admin GFA</title>
</head>
<body>
    <h1>Display GFAs Greater than or Equal to</h1>
    <form action="/processAdminGFA" method="POST">
        <Strong>GPA:</Strong><input type="text" id="gpa" name="gpa">
        <button type="submit">Submit Request</button>
    </form>
    <a href="/">HOME</a>

</body>
</html>