<!DOCTYPE html>
<html>
<head>
    <title>Removed</title>
</head>
<body>
    <h1>Remove All Applications</h1>
    <p> All applications have been removed from the database. Number of applications removed: <%= deletedCount %></p>
    <br>
    <a href="/">HOME</a>
</body>
</html>