<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Application</title>
    <style>
        .container {
            border: 1px solid black;
            padding: 10px;
            margin-bottom: 15px;
        }
    </style>
</head>
<body>
    <h1>Review Application</h1>
    <form action="/reviewApplication" method="POST">
        <div class="container">
            <label>Email Address: </label><input type="email" name="email"><br><br>
        </div>
        <button type="reset">Reset</button>
        <button type="submit">Submit Application</button>
    </form>
    <hr>

    <a href="/">HOME</a>
</body>